@import '~@angular/material/theming';
@import './theme-base';

$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$warn:    mat-palette($mat-orange, 600);
$theme:   mat-dark-theme($primary, $accent, $warn);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(26px, 40px, 700),
  $title: mat-typography-level(24px, 40px, 600),
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include theming($theme, $custom-typography);