
<div class="post">
    <div class="blog-post-img" [ngStyle]="{'background-image':'url('+blogImg+')'}">
    </div>
    <div class="content">
        <div class="header">
            <p class="title">Business development of rules</p>

            <div fxLayout="row wrap" fxLayoutGap="8px" class="tags">
                <div class="tag">Technology</div>
                <div class="tag">Nature</div>
                <div class="tag">Technology</div>
                <div class="tag">Nature</div>

                <!-- <div class="tag">Technology</div>
                <div class="tag">Nature</div>
                <div class="tag">Technology</div>
                <div class="tag">Nature</div> -->
            </div>
        </div>

        <p class="post-body">
            Titudin venenatis ipsum aciat. Vestibu uliamer guam nenatis ipsum ac feugiat. Ibulum ullamcorper
        </p>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="footer">
            <!-- <button mat-button>Read Button</button> -->
            <p>Read More</p>
            <mat-icon>share</mat-icon>
        </div>
        
    </div>
</div>
