
@mixin reset-margin-padding {
    margin: 0;
    padding: 0;
}


.post {

    .blog-post-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 240px;
    }

    .multimedia {

        background-image: url("https://cdn.pixabay.com/photo/2015/06/19/21/24/the-road-815297_960_720.jpg");
        width: 100%;
    }
        

    .content {
        padding: 12px;
        .header {

            .title {
                font-size: 20px;
                color: #4b4a4a;
            }

            .tags {
                margin-top: 12px;
                .tag {
                    padding: 4px 12px 4px 12px;
                    border-radius: 8px;
                    background-color: #2489b8;
                    color: #ffffff;
                }
            }

        }

        .post-body {
            @include reset-margin-padding();
            padding: 16px 0px 16px 0px;
            font-size: 16px;
            color: #757575;
        }

        .footer {
            p {
                margin-top: 8px;
            }
        }
    }
}