/* You can add global styles to this file, and also import other style files */

// Pre-build themes
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@mixin reset-margin-padding {
    margin: 0;
    padding: 0;
}


// $sizes: 0px, 4px, 8px, 12px, 16px, 20px, 24px, 28px, 32px, 36px, 40px, 44px, 48px, 52px, 56px, 60px;

// @each $size in $sizes {
//   .padding-#{$size} {
//     padding: $size;
//   }
// }

$index: 0;

@while $index < 402 {
    .m-#{$index} {
        margin: 0px + $index;
    }

    .mt-#{$index} {
        margin-top: 0px + $index;
    }

    .mb-#{$index} {
        margin-bottom: 0px + $index;
    }

    .ml-#{$index} {
        margin-left: 0px + $index;
    }

    .mr-#{$index} {
        margin-right: 0px + $index;
    }

    .font-size-#{$index} {
        font-size: 0px + $index !important;
    }

    .line-height-#{$index} {
        line-height: 0px + $index;
    }

    .p-#{$index} {
        padding: 0px + $index;
    }

    .pt-#{$index} {
        padding-top: 0px + $index;
    }

    .pb-#{$index} {
        padding-bottom: 0px + $index;
    }

    .pl-#{$index} {
        padding-left: 0px + $index;
    }

    .pr-#{$index} {
        padding-right: 0px + $index;
    }

    $index : $index + 4;
}

.bold-text {
    font-weight: bold;
}

$md-mcgpalette0: (
    50 : #e2eee2,
    100 : #b7d5b6,
    200 : #87b986,
    300 : #579c56,
    400 : #338731,
    500 : #0f720d,
    600 : #0d6a0b,
    700 : #0b5f09,
    800 : #085507,
    900 : #044203,
    A100 : #77ff77,
    A200 : #44ff44,
    A400 : #11ff11,
    A700 : #00f600,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($md-mcgpalette0, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($md-mcgpalette0);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$candy-app-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,  
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

